language: go
go:
  - 1.12.x
  - master
before_install:
  - go get github.com/go-playground/overalls
  - go get github.com/mattn/goveralls
git:
  depth: 1
script:
  - $GOPATH/bin/overalls -project=github.com/optimizely/go-sdk -covermode=count -debug
  - $GOPATH/bin/goveralls -coverprofile=overalls.coverprofile -service=travis-ci
stages:
  - 'Integration tests'
  - 'Test'
jobs:
  include:
    - stage: 'Integration Tests'
      merge_mode: replace
      env: SDK=go
      cache: false
      language: minimal
      install: skip
      before_script:
        - mkdir $HOME/travisci-tools && pushd $HOME/travisci-tools && git init && git pull https://$CI_USER_TOKEN@github.com/optimizely/travisci-tools.git && popd
      script:
        - "$HOME/travisci-tools/fsc-trigger/trigger_fullstack-sdk-compat.sh"
      after_success: travis_terminate 0
      
