language: minimal
env: GO111MODULE=on
git:
  depth: 1
install:
  - eval "$(gimme)"
stages:
  - 'Lint'
  - 'Integration tests'
  - 'Unit test'
jobs:
  include:
    - stage: 'Lint'
      env: GIMME_GO_VERSION=1.12.x GIMME_OS=linux GIMME_ARCH=amd64
      before_script:
        - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.19.0
      script:
        - $GOPATH/bin/golangci-lint run --out-format=tab --tests=false optimizely/...
    - stage: 'Integration tests'
      env: GIMME_GO_VERSION=1.12.x
      install:
        - scripts/get-fsc-tests.sh
      script:
        - go test -tags=integration
      after_success: travis_terminate 0
    - &test
      stage: 'Unit test'
      env: GIMME_GO_VERSION=master GIMME_OS=linux GIMME_ARCH=amd64
      script:
        - go test -v -race ./... -coverprofile=profile.cov
    - <<: *test
      stage: 'Unit test'
      env: GIMME_GO_VERSION=1.8.x
      before_script:
        # GO module was not introduced earlier. need symlink to search in GOPATH
        - mkdir -p $GOPATH/src/github.com && pushd $GOPATH/src/github.com && ln -s $HOME/build/optimizely optimizely && popd
      script:
        # Need to download packages explicitly
        - go get -v -d ./...
        # This pkg not in go 1.8
        - go get github.com/stretchr/testify
        # -coverprofile was not introduced in 1.8
        - go test -v -race ./...
    - <<: *test
      stage: 'Unit test'
      env: GIMME_GO_VERSION=1.12.x
      before_script:
        - go get github.com/mattn/goveralls
      after_success:
        - $GOPATH/bin/goveralls -coverprofile=profile.cov -service=travis-ci
